<div class="account-bar">
    <div class="dropdown">
        <img src="/images/user.png" alt="User Icon">
        <div class="dropdown-menu">
            {{#if username}}
                <p>Welcome, {{username}}</p>
                <hr class="separator">
                <p><a href="/wishlist">Wishlist</a></p>
                <p><a href="/show-cart">Cart</a></p>
                <p><a href="/customer">Account</a></p>
                <p><a href="/logout">Log out</a></p>
            {{else}}
                <p><a href="/register">Register</a></p>
                <p><a href="/login">Login</a></p>
                <p><a href="/show-cart">Cart</a></p>
                <p><a href="/customer">Account</a></p>
            {{/if}}
        </div>
    </div>
</div>