<footer>
    <div class="spacer">
        {{!-- likely add the logo here again? --}}
    </div>
    <hr class="separator">
    <div class="bottom-bar">
        <h4><a href="https://www.ubc.ca/site/legal.html">Terms of Use</a></h4>
        <h4><a href="https://copyright.ubc.ca/">Copyright</a></h4> <!-- TODO: add link to copyright page or something else -->
        <h4><a href="/admin">Administrators</a></h4>
    </div>
</footer>