<!-- header for each page of the site -->
<header>
    <div class="navbar">
        <img src="/images/totallynotubc.png" alt="Logo">
        <h1>SIM-ESTER</h1>
    </div>    
    <nav class="main-nav">
        <a href="/index">Home</a>
        <a href="/index#about-us">About Us</a>
        <a href="/listprod">Products</a>

        {{!-- Temporary link to loaddata.js --}}
        {{!-- <a href="/loaddata">Load Data (temp)</a> --}}
    </nav>
</header>