<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css"> {{!-- linking to the CSS --}}
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
</body>
</html>