<div class="admin-actions">
    {{!-- to show that the product has been updated/deleted/added --}}
    {{#if successMessage}}
        <div class="decorative-button">
            {{successMessage}}
        </div>
    {{/if}}

    {{!-- to update products --}}
    <div class="all-actions">
        <div class="container">
            <h2>Update Product</h2>
            
            <form class="admin-form" action="/adminActions/updateProduct" method="POST">
                <label>
                    <input type="number" name="productId" placeholder="" required>
                    <span>Product ID</span>
                </label>

                <label>
                    <input type="text" name="productName" placeholder="">
                    <span>Product Name</span>
                </label>
                
                <label>
                    <input type="text" name="productPrice" placeholder="">
                    <span>Price</span>
                </label>

                <label>
                    <textarea type="text" name="productDesc" placeholder="Description"></textarea>
                </label>

                <label>
                    <input type="password" name="adminPassword" placeholder="ADMIN PASSWORD" required>
                </label>

                <input class="custom-button" type="submit" value="Update Product">
            </form>
        </div>

        {{!-- to delete products --}}
        <div class="container">
            <h2>Delete Product</h2>

            <form class="admin-form" action="/adminActions/deleteProduct" method="POST">
                <label>
                    <input type="number" name="productId" placeholder="" required>
                    <span>Product ID</span>
                </label>

                <label>
                    <input type="password" name="adminPassword" placeholder="ADMIN PASSWORD" required>
                </label>

                <div class="action">
                    <input class="custom-button" type="submit" value="Delete Product">
                </div>
            </form>
        </div>

        {{!-- to add a new product --}}
        <div class="container">
            <h2>Add Product</h2>

            <form class="admin-form" action="/adminActions/addProduct" method="POST">
                <label>
                    <input type="text" name="productName" placeholder="">
                    <span>Product Name</span>
                </label>

                <label>
                    <input type="text" name="productPrice" placeholder="">
                    <span>Price</span>
                </label>

                <label>
                    <input type="number" name="categoryId" placeholder="">
                    <span>Category ID</span>
                </label>

                <label>
                    <textarea type="text" name="productDesc" placeholder="Description"></textarea>
                </label>

                <label>
                    <input type="password" name="adminPassword" placeholder="ADMIN PASSWORD" required>
                </label>

                <div class="action">
                    <input class="custom-button" type="submit" value="Add Product">
                </div>
            </form>
        </div>
    </div>

</div>