<body>
    <div class="checkout">
        <h2>Enter your customer ID and password to complete the transaction:</h2>

        <form class="checkout-form" method="get" action="order">
            <label>
                <input type="text" name="customerId" size="20" placeholder="" required>
                <span>Customer ID</span>
            </label>

            <label>
                <input type="password" name="password" size="20" placeholder="" required>
                <span>Password</span>
            </label>

            <div class="checkout-buttons">
                <input class="custom-button" type="submit" value="Submit">
                <input class="custom-button" type="reset" value="Reset">
            </div>
        </form>
    </div>
</body>
</html>
