<div class="main-page">
    {{!-- a little description of the website --}}
    <div class="hero-section">
        <h1>Welcome to Sim-ester</h1>
        <p> Home to the premier course simulation marketplace. Explore and purchase course simulation games for UBCO courses.</p>
        <p>Enjoy the UBCO experience at a fraction of the cost!</p>
        <div class="decorative-button">
            <p>Continue below for more information</p>
        </div>
    </div>
    {{!-- featured products? --}}

    <h2 align="center"><a href="/listprod">Begin Shopping</a></h2>
    {{!-- <h2 align="center"><a href="/listorder">List All Orders</a></h2> this should probably be in the admin portal??
    <h2 align="center"><a href="/customer">Customer Info</a></h2> this should be in either the admin portal or the customer portal --}}
</div>