<div class="login">

    <h3>Please Login to System</h3>

    {{#if loginMessage}}
        <p>{{loginMessage}}</p>
    {{/if}}

    <br>
    <form name="MyForm" method=post action="/validateLogin">
        <div class="login-info">
            <label for="username">Username:</label>
            <input class="text-input" type="text" name="username" size=10 maxlength="10">
        </div>
        <div class="login-info">
            <label for="password">Password:</label>
            <input class ="text-input" type="password" name="password" size=10 maxlength="10">
        </div>

        <div class="login-button">
            <input class="custom-button" type="submit" name="Submit2" value="Log In">
        </div>
    </form>

</div>