<div class="reset-page">
        <form class="general-form" method="POST" action="/forgot-password/request-reset">
            <h2>Enter your email address to request a password reset:</h2>
            <label>
                <input type="email" id="email" name="email" placeholder=" " size="40" maxlength="40" required>
                <span>Email address</span>
            </label>

            <div class="form-button">
                <input class="custom-button" type="submit" value="Send Reset Link">
            </div>
        </form>
</div>