<link rel="stylesheet" href="../../css/style.css">
<div class="reset-page">
    <div class="reset-form-container">
        <h2>Enter your new password:</h2>

        <form class="reset-form" method="POST" action="/forgotPassword/reset-password/{{token}}">
            <label>
                <input type="password" id="newPassword" name="newPassword" placeholder=" " size="50" maxlength="50" required>
                <span>New Password</span>
            </label>

            <div class="reset-buttons">
                <span><input class="reset-button" type="submit" value="Reset Password"></span>
            </div>
        </form>
    </div>
</div>