/* Forms, buttons, & other shared components */

/* default container styling */
.container {
    width: auto;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 20px;
}
.container table {
    margin: 10px auto;
    border-collapse: collapse;
}
.container table th {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.container table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}

/* USED TO STYLE ACTUAL BUTTONS */
.custom-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 18px;
    background-color: #002145;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}
.custom-button:hover{
    background-color: #004176;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.admin-actions .custom-button {
    padding: 7px 35px;
    margin-top: 10px;
}
.checkout-page .custom-button {
    padding: 15px 160px;
    margin-top: 20px;
}
.login-page .custom-button {
    padding: 7px 70px;
}
.register .custom-button {
    padding: 7px 130px;
    margin-top: 20px;
    font-size: 20px;
}
.reset-page .custom-button {
    padding: 7px 95px;
    margin-top: 20px;
    font-size: 20px;
}
.review-section .custom-button {
    margin-bottom: 20px;
}
.search-form .custom-button {
    border-radius: 10px;
}

/* fake buttons, don't lead to anything */
.decorative-button {
    display:inline-block;
    border: none;
    padding: 7px 12px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: default;
    outline: none;
    font-size: 18px;
    background-color: #002145;
    color: #FFFFFF;
}

/* navigate buttons / buttons that are not ACTUAL buttons but act like buttons */
.navigate a {
    display: inline-block;
    color: white;
    background: #002145;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}
.navigate a:hover {
    background-color: #004176;
    color: white;
    border-radius: 5px;
}
.admin .navigate a,
.product-display .navigate a {
    width: 80%;
}
.customer .navigate a,
.product-card .navigate a {
    width: 60%;
}
.showcase .navigate {
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: 24px;
}
.showcase-container .navigate  a {
    width: 50%; 
}
.showcase-container .navigate {
    margin: 20px;
    font-size: 18px;
}
.navigate-button .navigate a {
    width: 100%;
}
.navigate-button .navigate {
    margin: 10px;
}

.category-select {
    background: #002145;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: white;
    outline: none;
}
.review-section .category-select {
    font-size: 16px;
}

.general-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #F9F9F9;
    width: 400px;
    border-radius: 5px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
input:focus {
    outline: none;
    border-color: #002145;
    background-color: #f9f9f9;
}
label span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: #002145;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}
input:focus + span,
input:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 12px;
    color: #002145;
    background: #f9f9f9;
    padding: 0 5px;
}

textarea {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}