 /* min-height: 100vh; Ensure the body takes the full viewport height */


/* general styles, used for all tags, everywhere */
html, body {
    /* resetting margin and padding of body, html tags */
    margin: 0;
    padding: 0;

    /* the rest of the general styles */
    background: #CCCCCC;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#002145;
}
.custom-button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 18px;
    background-color: #002145;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}
.custom-button:hover{
    background-color: #004176;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.decorative-button {
    display:inline-block;
    border: none;
    padding: 7px 12px;
    margin-top: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: default;
    outline: none;
    font-size: 18px;
    background-color: #002145;
    color: #FFFFFF;
}
.text-input {
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    outline: none;
}
.text-input:focus {
    box-shadow: 0 0 10px rgba(0, 33, 69, 0.8);
}
.category-select {
    background: #002145;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    color: white;
    outline: none;
}
/* default container styling */
.container {
    width: auto;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 20px;
}
.container table {
    margin: 10px auto;
    border-collapse: collapse;
}
.container table th {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.container table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}

/* PARTIAL STYLES */
/* account-bar */
.account-bar {
    background: #E6E6E6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.account-bar a {
    color: #002145;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.account-bar a:hover {
    color: #013368;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
}
.account-bar h3 {
    color: #002145;
    font-weight: bold;
    /* margin-right: 50px; */
}
.end {
    margin-right: 20px;
}

/* navbar styling/header */
.navbar{
    display: flex;
    align-items: center;
    margin: 0px;
    background-color: #002145;
}
.navbar h1{
    font-size: 50px;
    padding: 20px;
    color:#FFFFFF;
}
.navbar img{
    width: 150px;
    height:auto;
    border-radius: 50px;
    padding: 20px;
}
/* actual navbar */
nav{
    background-color: #2F5D7C;
    padding: 20px;
}
nav a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 15px;
}
nav a:hover{
    background-color: #3e769b;
    border-radius: 5px;
}

/* footer styling */
footer {
    background: #002145;
    color: #FFFFFF;
    padding: 20px 0;
}
.spacer {
    height: 50px;
}
.separator {
    border: none;
    border-top: 2px solid #FFFFFF;
    margin: 0 20px;
}
.bottom-bar {
    display:flex;
    align-items: center;
    background: #002145;
    padding: 20px;
    justify-content: center;
}
.bottom-bar a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px;
}
footer h3{
    color: white;
    display:flex;
    justify-content: center;
}

/* THE ACTUAL PAGES */
/* INDEX/MAIN */
.main-page a{
    color: #002145;
    text-decoration: none;
    padding: 10px 15px;
}
.main-page a:hover{
    color: #004176;
}
/* potentially make the image background change (like a carousel of images) */
.hero-section {
    background-image: url('../images/okanagan-lake_cropped.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;

    position: relative;
    text-align: center;
    padding: 20px;
}
.hero-section h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}
.hero-section p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    margin: 0 auto;
    max-width: 800px;
    color: white;
}
.divider {
    padding: 20px;
    background-color: #002145;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
/* Featured Products Section */
.featured{
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.showcase-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.showcase-product {
    width: 500px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 10px;
    transition: transform 0.3s ease;
}
.showcase-product:hover {
    transform: scale(1.05);
}
.showcase-product img {
    /* width: 400px; ensuring all images are same size */
    height: 290px;
}
.showcase-product .product-action {
    margin: 20px; /* specific margin for this page */
}
.showcase .navigate {
    display: flex;
    justify-content: center;
    margin: 50px;
}
/* About Us */
.about {
    display: block;
    justify-items: center;
    padding: 20px;
    text-align: center;
}
.about h1 {
    color: #002145;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}
.box {
    color:#002145;
    width: 800px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 10px;
    margin: 20px;
}
.about img {
    width: 600px;
}

/* LISTPROD */
.listprod {
    min-height: 60vh;
    margin-left: 30px;
    display: block;
    justify-content: center;
    margin-bottom: 50px;
}
.listprod h2 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
/* the search feature */
.listprod-search {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.search-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
/* the product cards */
.products-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.product-card {
    display: inline;
    color:#002145;
    background-color: #F9F9F9;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}
.product-card:hover {
    transform: scale(1.05); /* slightly enlarge when hovered */
}
.product-name a {
    font-size: 25px;
    color: #002145;
    text-decoration: none;
}
.product-price {
    margin: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.product-action a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #002145;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.product-action a:hover {
    color: white;
    background-color: #004176;
    border-radius: 5px;
}

/* PRODUCT */
.product-display {
    width: 500px;
    margin: 50px auto; /* centres horizontally, adds vertical spacing */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 10px;
}
.product-display img {
    width: 400px;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
}
/* the recommended products section */
.recommended-products .products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.recommended-products .product-display{
    margin: 10px;
    width: 300px;
    height: auto;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
}
.recommended-products .product-display h4 {
    font-size: 18px;
    color: #002145;
    text-decoration: none;
    margin-bottom: 0;
}
.recommended-products .product-display p {
    margin-top: 5px;
}
.recommended-products .product-display img {
    width: 100%;
    height: 200px;
}
.recommended-products .product-display:hover {
    transform: scale(1.05); /* slightly enlarge when hovered */
}
/* REVIEW */
.review-section .category-select {
    font-size: 16px;
}
.review-section .custom-button {
    margin-bottom: 20px;
}
.review-section label {
    font-weight: bold;
    color: #002145;
}
.review-section textarea {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out
}
.success-message {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #002145;
    color: white;
    padding: 10px;
}
.review-section {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 10px;
}
.review {
    background: #eeeeee;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-wrap: break-word;
}
.review p {
    margin: 0 10px;
}
.left-text {
    padding: 10px 0;
    text-align: left;
}
.center-text {
    text-align: center;
}

/* SHOWCART */
.your-cart {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.showcart {
    background: #F9F9F9;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
}
/* table styles */
.showcart table {
    width: auto;
    margin: 10px auto;
    border-collapse: collapse;
}
.showcart table th {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.showcart table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.total td {
    font-weight: bold;
    font-size: 18px;
}
/* quantity input */
.qty {
    border: none;
    border-radius: 10px;
    width: 40px;
    padding: 5px 5px;
    text-align: center;
    outline: none;
}
/* remove button */
.removeitem a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #bb0000;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.removeitem a:hover {
    background-color: #990000;
    border-radius: 10px;
}
/* update button */
.updateitem {
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    background-color: #002145;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.updateitem:hover {
    background-color: #004176;
    border-radius: 10px;
}
/* checkout & continue shopping buttons */
/* also used for "All Products" button on main page */
.navigate a {
    display: inline-block;
    color: white;
    background: #002145;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}
.navigate a:hover {
    background-color: #004176;
    color: white;
    border-radius: 10px;
}

/* ORDER */
.order-checkout {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-summary {
    width: auto;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 20px;
}
/* centering the table */
.order-summary table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}
.order-summary table th {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.order-summary table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.order-summary table td:last-child {
    font-weight: bold;
    color: #002145;
}.order-summary h1, h2 {
    margin: 10px 0;
    color: #002145;
}
.order-summary table tr:last-child td {
    background-color: #f0f0f0;
    font-size: 16px;
}

/* LIST ORDER */
.listorder {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.order-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.order-details {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 20px;
}
.order-details table {
    width: auto;
    margin: 10px auto;
    border-collapse: collapse;
}
.order-details table th {
    font-weight: bold;
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.order-details table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}
.order-details table td:last-child {
    font-weight: bold;
    color: #002145;
}.order-details h1, h2, h3 {
    margin: 10px 0;
    color: #002145;
}

/* ADMIN */
/* welcome msg & info */
.admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.admin-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: #F9F9F9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.admin-landing p {
    text-align: center;
    color: white;
    background-color: #002145;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.admin-landing .navigate {
    padding: 0px;
}
.admin-landing .navigate a:hover {
    background-color: #002145;
    border-radius: 0px;
}

/* ADMIN ACTIONS */
.admin-actions {
    /* min-height: 60vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 250px;
}
.all-actions {
    margin: 20px auto;
    display: flex;
    align-items: center;
}
.all-actions .container {
    margin: 20px;
}
.admin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0;
}
.admin-actions label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #6c757d;
    flex: 1 1 45%;
}

.admin-actions input[type="text"],
.admin-actions input[type="number"],
.admin-actions input[type="password"],
.admin-actions textarea {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
.admin-actions input:focus {
    outline: none;
    border-color: #002145;
    background-color: #f9f9f9;
}
.admin-actions label span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: #002145;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}
.admin-actions input:focus + span,
input:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 12px;
    color: #002145;
    background: #f9f9f9;
    padding: 0 5px;
}
.action-actions {
    margin-top: 20px;
}

/* CUSTOMER */
.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 60vh;
}
.customer-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background: #F9F9F9;
    width: 650px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.profile-actions .navigate {
    margin-top: 20px;
    font-size: 16px;
}
.profile-field {
    font-weight: bold;
    color: #002145;;
    font-size: 16px;
    text-align: left;
}

/* CUSTOMER EDIT */
/* using same styles as REGISTER */

/* CHECKOUT */
.checkout-page {
    min-height: 60vh;
}
.checkout {
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 20px;
}
.checkout h2 {
    margin-bottom: 50px;
}
.checkout-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0;
}
.checkout label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #6c757d;
    flex: 1 1 45%;
}
.checkout input[type="text"],
.checkout input[type="password"] {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
.checkout input:focus {
    outline: none;
    border-color: #002145;
    background-color: #f9f9f9;
}
.checkout label span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: #002145;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.checkout input:focus + span,
input:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 12px;
    color: #002145;
    background: #f9f9f9;
    padding: 0 5px;
}
.checkout-buttons {
    margin-top: 30px;
}
.checkout-button {
    border: none;
    border-radius: 10px;
    padding: 15px 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    font-size: 18px;
    background-color: #002145;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.3s ease;
}
.checkout-button:hover {
    background-color: #004176;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* LOGIN */
.login-page {
    min-height: 60vh;
}
.login {
    width: 300px;
    margin: 50px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F9F9F9;
    padding: 20px;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0;
}
.login label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #6c757d;
    flex: 1 1 45%;
}

.login input[type="text"],
.login input[type="password"] {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
.login input:focus {
    outline: none;
    border-color: #002145;
    background-color: #f9f9f9;
}
.login label span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: #002145;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.login input:focus + span,
input:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 12px;
    color: #002145;
    background: #f9f9f9;
    padding: 0 5px;
}
.login-form .custom-button {
    padding: 7px 60px;
    border-radius: 5px;
}
.info {
    margin: 20px;
}
.info a {
    color:#004176;
}
.info a:visited {
    color:#004176;
}
/* styling the login message */
.login p {
    padding: 5px 10px;
    background:#990000;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* REGISTER */
.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #F9F9F9;
    width: 400px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.register h1 {
    padding: 0;
    margin: 0;
}
.register p {
    color: #002145;
    margin-bottom: 20px;
}
.register p a {
    color: #004176;
}
.register-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 0;
}
.register label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #6c757d;
    flex: 1 1 45%;
}
.register select {
    width: 160px;
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
    appearance: none;
}
.register input[type="text"],
.register input[type="email"],
.register input[type="tel"],
.register input[type="password"] {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
.register input:focus {
    outline: none;
    border-color: #002145;
    background-color: #f9f9f9;
}
.register label span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: #002145;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.register input:focus + span,
input:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 12px;
    color: #002145;
    background: #f9f9f9;
    padding: 0 5px;
}
.register .custom-button {
    padding: 7px 120px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
}
/* ACCOUNT CREATED */
/* using CUSTOMER CSS */

/* REGISTRATION ERROR */
.customer-account p{
    padding-left: 20px;
    padding-right: 20px;
}

/* NOT AUTHORIZED */
.error {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FORGOT PASSWORD (requestReset, resetPassword) */
.reset-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 60vh;
}
.reset-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #F9F9F9;
    width: 400px;
    border-radius: 10px;
    margin: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.reset-page h2 {
    text-align: center;
}
.reset-page label {
    display: block;
    position: relative;
    text-align: left;
    font-size: 14px;
    color: #6c757d;
    flex: 1 1 45%;
}
.reset-page input[type="email"] {
    padding: 12px 10px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: all 0.3s ease-in-out;
}
.reset-page input:focus {
    outline: none;
    border-color: #002145;
    background-color: #f9f9f9;
}
.reset-page label span {
    position: absolute;
    left: 10px;
    top: 12px;
    font-size: 14px;
    color: #002145;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
}

.reset-page input:focus + span,
input:not(:placeholder-shown) + span {
    top: -10px;
    font-size: 12px;
    color: #002145;
    background: #f9f9f9;
    padding: 0 5px;
}
.reset-buttons {
    margin: 20px;
    display: flex;
    justify-content: center;
}